<div id="curriculo" class="container container-fix">
    <div class="col-12 mb-5 mt-1">
        <div class="col-12 mx-auto text-center">
            <object data="../imagens/Curriculo - Fernando Ibaê.pdf" width="100%" height="650px">
                <p>Your web browser doesn't have a PDF plugin.
                    Instead you can <a
                        href="https://fernandoibaepliborio.github.io/profile.github.io/views/#curriculo">click here to
                        download the PDF file.</a>
                </p>
            </object>
        </div>
    </div>
</div>