<div id="curriculo" class="container container-fix">
    <div class="col-12 mb-5 mt-1">
        <div class="col-12 mx-auto text-center">
            <object data="../imagens/Curriculo - Fernando Ibaê.pdf" width="100%" height="650px">
                <p>Your web browser doesn't have a PDF plugin.
                    Instead you can <a
                        href="https://github.com/FernandoIbaePLiborio/profile.github.io/blob/3ef7a3c978ecb8a7213fe1a38cac6f2b2a3208f3/imagens/Curriculo%20-%20Fernando%20Iba%C3%AA.pdf">click here to
                        download the PDF file.</a>
                </p>
            </object>
        </div>
    </div>
</div>
