<div id="portfolio" class="container container-fix" >
    <div class="col-12 mb-5 mt-1">
        <div class="col-12 mx-auto text-center">
            <object data="../imagens/Portfolio - Fernando Ibaê.pdf" width="100%" height="900px">
                <p>Your web browser doesn't have a PDF plugin.
                    Instead you can <a
                    href="https://drive.google.com/open?id=1VhyJlgP3bW1knsVJYsyOq3zAfdOW82XF">click here to
                    download the PDF file.</a>
                </p>
            </object>
        </div>
    </div>
</div>